{% extends "layout/layout.html" %}
{% set page_title = "Contact us" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="tekup-breadcrumb" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tekup-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 d-flex align-items-center">
        <div class="tekup-default-content">
          <h2>Let’s build an awesome project together</h2>
          <p>At our IT solution company, we are committed to exceptional customer service and support. If you are experiencing technical difficulties or need assistance with</p>
          <div class="tekup-contact-info-wrap wrap2">
            <div class="tekup-contact-info mb-0">
              <i class="ri-map-pin-2-fill"></i>
              <h5>Address</h5>
              <p>1791 Yorkshire Circle Kitty<br>
              Hawk, NC 279499</p>
            </div>
            <div class="tekup-contact-info mb-0">
              <i class="ri-mail-fill"></i>
              <h5>Contact</h5>
              <a href="mailto:name@email.com">info@mthemeus.com</a>
              <a href="tel:123">518-564-3200</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 offset-xl-1 col-lg-6">
        <div class="tekup-main-form">
          <h3>Fill The Contact Form</h3>
          <p>Feel free to contact with us, we don’t spam your email</p>
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <div class="tekup-main-field">
                  <input type="text" placeholder="Your name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tekup-main-field">
                  <input type="number" placeholder="Phone number">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tekup-main-field">
                  <input type="email" placeholder="Email address">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tekup-main-field">
                  <textarea name="textarea" placeholder="Write your message"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button id="tekup-main-form-btn" type="button">Send Message <i class="ri-arrow-right-up-line"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div id="map"></div>



{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
