{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-six.html" %} 

<div class="tekup-hero-section6">
  <div class="tekup-hero-slider">
    <div class="tekup-hero-slider-item2" style="background-image: url(assets/images/hero/hero-bg5.png)">
      <div class="container">
        <div class="tekup-hero-content center white-color large-content">
          <div class="animated" data-animation-in="fadeIn">
            <h5>We provide professional IT services</h5>
            <h1>Optimize your enterprise with our leading guidance</h1>
          </div>
          <div class="tekup-extra-mt animated" data-animation-in="fadeInUp" data-delay-in="0.3">
            <a class="tekup-default-btn" href="">Start a Project <img src="assets/images/icon/arrow-top.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tekup-hero-slider-item2" style="background-image: url(assets/images/hero/hero-bg1.png)">
      <div class="container">
        <div class="tekup-hero-content center white-color large-content">
          <div class="animated" data-animation-in="fadeIn">
            <h5>We provide professional IT services</h5>
            <h1>Optimize your enterprise with our leading guidance</h1>
          </div>
          <div class="tekup-extra-mt animated" data-animation-in="fadeInUp" data-delay-in="0.3">
            <a class="tekup-default-btn" href="">Start a Project <img src="assets/images/icon/arrow-top.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% include "../templates/layout/header-footer/footer-six.html" %} 
  
{% endblock %}
