{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="tekup-hero-section2">
  <div class="tekup-hero-slider">
    <div class="tekup-hero-slider-item" style="background-image: url(assets/images/hero/hero-bg3.png)">
      <div class="container">
        <div class="tekup-hero-content center white-color large-content">
          <div class="animated" data-animation-in="fadeIn">
            <h1>The best innovative technology solutions</h1>
            <p>We are architects of innovation, trailblazers of technological advancement</p>
          </div>
          
          <div class="tekup-extra-mt animated" data-animation-in="fadeInUp" data-delay-in="0.3">
            <a class="tekup-default-btn tekup-white-btn" href="">Start a Project <img src="assets/images/icon/arrow-top-dark.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tekup-hero-slider-item" style="background-image: url(assets/images/hero/hero-bg1.png)">
      <div class="container">
        <div class="tekup-hero-content center white-color large-content">
          <div class="animated" data-animation-in="fadeIn">
            <h1>The best innovative technology solutions</h1>
            <p>We are architects of innovation, trailblazers of technological advancement</p>
          </div>
          
          <div class="tekup-extra-mt animated" data-animation-in="fadeInUp" data-delay-in="0.3">
            <a class="tekup-default-btn tekup-white-btn" href="">Start a Project <img src="assets/images/icon/arrow-top-dark.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% include "../templates/layout/header-footer/footer-two.html" %} 
  
{% endblock %}
