{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-five.html" %} 

<div class="tekup-hero-section5" style="background-image: url(assets/images/hero/hero-bg4.png)">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 d-flex align-items-center">
        <div class="tekup-hero-content white-color">
          <h1>Affordable big IT & technology solutions</h1>
          <p>We are architects of innovation, trailblazers of advancement, and partners in your success. As a dynamic and forward</p>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn tekup-white-btn" href="">Start a Project <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
        <div class="tekup-hero-form">
          <h3>Fill The Contact Form</h3>
          <p>Get Free Consultation For IT Solutions</p>
          <form action="#">
            <div class="tekup-main-field">
              <input type="text" placeholder="Your name">
            </div>
            <div class="tekup-main-field">
              <input type="email" placeholder="Email address">
            </div>
            <div class="tekup-main-field">
              <textarea name="textarea" placeholder="Write your message"></textarea>
            </div>
            <button id="tekup-default-btn" type="button">Send Message <i class="ri-arrow-right-up-line"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tekup-thumb mr-30">
          <img src="assets/images/v5/thumb1.png" alt="">
          <div class="tekup-thumb-card">
            <img src="assets/images/v3/rating.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tekup-default-content ml-60">
          <h2>We make awesome IT services for your business</h2>
          <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking organization</p>
          <div class="tekup-icon-list-wrap2">
            <div class="tekup-icon-list-item2">
              <div class="tekup-icon-list-icon2">
                <img src="assets/images/iconbox/icon8.png" alt="">
              </div>
              <div class="tekup-icon-list-data2">
                <p>Highly Expert
                  Team Members</p>
              </div>
            </div>
            <div class="tekup-icon-list-item2">
              <div class="tekup-icon-list-icon2">
                <img src="assets/images/iconbox/icon9.png" alt="">
              </div>
              <div class="tekup-icon-list-data2">
                <p>Urgent Support
                  for Clients</p>
              </div>
            </div>
          </div>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn" href="about-us.html">More About <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>We deal with the aspects of professional IT services</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="tekup-iconbox-wrap3 bg-white">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon3.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>Web Development</h5></a>
            <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tekup-iconbox-wrap3 bg-white">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon4.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>App Development</h5></a>
            <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success</p>
          </div>
        </div>
        
      </div>
      <div class="col-lg-6">
        <div class="tekup-iconbox-wrap3 bg-white">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon7.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>IT Management</h5></a>
            <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tekup-iconbox-wrap3 bg-white">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon6.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>Digital Marketing</h5></a>
            <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-accent tekup-section-padding3">
  <div id="tekup-counter"></div>
  <div class="container">
    <div class="tekup-counter-wrap4">
      <div class="tekup-counter-data4">
        <h2><span data-percentage="26" class="tekup-counter"></span>+</h2>
        <p>Years of Experience</p>
      </div>
      <div class="tekup-counter-data4">
        <h2><span data-percentage="730" class="tekup-counter"></span>+</h2>
        <p>Successfully Projects</p>
      </div>
      <div class="tekup-counter-data4">
        <h2><span data-percentage="198" class="tekup-counter"></span>+</h2>
        <p>Satisfied Happy Clients</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Explore our recent projects</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap tekup-portfolio-wrap2">
          <div class="tekup-portfolio-thumb">
            <img src="assets/images/v2/p_1.png" alt="">
            <div class="tekup-portfolio-data tekup-portfolio-data2">
              <a href="single-portfolio.html"><h5>Design of the year</h5></a>
              <p>UI/UX Design</p>
              <a class="tekup-portfolio-btn tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap tekup-portfolio-wrap2">
          <div class="tekup-portfolio-thumb">
            <img src="assets/images/v2/p_2.png" alt="">
            <div class="tekup-portfolio-data tekup-portfolio-data2">
              <a href="single-portfolio.html"><h5> Ways to level up your brand</h5></a>
              <p>Branding</p>
              <a class="tekup-portfolio-btn tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap tekup-portfolio-wrap2">
          <div class="tekup-portfolio-thumb">
            <img src="assets/images/v2/p_3.png" alt="">
            <div class="tekup-portfolio-data tekup-portfolio-data2">
              <a href="single-portfolio.html"><h5>Cyber Security Analysis</h5></a>
              <p>Technology</p>
              <a class="tekup-portfolio-btn tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap tekup-portfolio-wrap2">
          <div class="tekup-portfolio-thumb">
            <img src="assets/images/v2/p_4.png" alt="">
            <div class="tekup-portfolio-data tekup-portfolio-data2">
              <a href="single-portfolio.html"><h5>Design Discussion</h5></a>
              <p>Design</p>
              <a class="tekup-portfolio-btn tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap tekup-portfolio-wrap2">
          <div class="tekup-portfolio-thumb">
            <img src="assets/images/v2/p_6.png" alt="">
            <div class="tekup-portfolio-data tekup-portfolio-data2">
              <a href="single-portfolio.html"><h5>Product Security Analysis</h5></a>
              <p>Product</p>
              <a class="tekup-portfolio-btn tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap tekup-portfolio-wrap2">
          <div class="tekup-portfolio-thumb">
            <img src="assets/images/v2/p_7.png" alt="">
            <div class="tekup-portfolio-data tekup-portfolio-data2">
              <a href="single-portfolio.html"><h5>Cross Industry Expertise</h5></a>
              <p>Marketing</p>
              <a class="tekup-portfolio-btn tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tekup-section-padding">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Meet the team behind techverse</h2>
    </div>
  </div>
  <div class="tekup-team-slider">
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team1.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data">
        <a href="single-team.html"><h5>Marvin McKinney</h5></a>
        <p>CEO & Founder</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team2.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data">
        <a href="single-team.html"><h5>Sophia Rodriguez</h5></a>
        <p>Creative Director</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team3.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data">
        <a href="single-team.html"><h5>Alexander Cameron</h5></a>
        <p>Lead Developer</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team4.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data">
        <a href="single-team.html"><h5>Brooklyn Simmons</h5></a>
        <p>Product Designer</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team5.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data">
        <a href="single-team.html"><h5>Kelly Williams</h5></a>
        <p>Digital Marketer</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team6.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data">
        <a href="single-team.html"><h5>Kari Rasmussen</h5></a>
        <p>Cyber Specialist</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team3.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data">
        <a href="single-team.html"><h5>Alexander Cameron</h5></a>
        <p>Lead Developer</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Effective & flexible pricing</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tekup-pricing-wrap all-border">
          <div class="tekup-pricing-header">
            <h4>Startup</h4>
            <p>Best for Startup business owners who needs website for business.</p>
          </div>
          <div class="tekup-pricing-price mb-0">
            <h2>$99<span>/month</span></h2>
          </div>
          <div class="tekup-pricing-feature extra-mt">
            <ul>
              <li><i class="ri-check-line"></i>10 GB disk space availability</li>
              <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
              <li><i class="ri-check-line"></i>Free platform access for all</li>
              <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
              <li><i class="ri-check-line"></i>Free one year support</li>
            </ul>
          </div>
          <a class="tekup-pricing-btn" href="pricing.html">Select This Package <i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-pricing-wrap all-border">
          <div class="tekup-pricing-header">
            <h4>Business</h4>
            <p>Best for Startup business owners who needs website for business.</p>
          </div>
          <div class="tekup-pricing-price mb-0">
            <h2>$299<span>/month</span></h2>
          </div>
          <div class="tekup-pricing-feature extra-mt">
            <ul>
              <li><i class="ri-check-line"></i>10 GB disk space availability</li>
              <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
              <li><i class="ri-check-line"></i>Free platform access for all</li>
              <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
              <li><i class="ri-check-line"></i>Free one year support</li>
            </ul>
          </div>
          <a class="tekup-pricing-btn active" href="pricing.html">Select This Package <i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-pricing-wrap all-border">
          <div class="tekup-pricing-header">
            <h4>Enterprise</h4>
            <p>Best for Startup business owners who needs website for business.</p>
          </div>
          <div class="tekup-pricing-price mb-0">
            <h2>$779<span>/month</span></h2>
          </div>
          <div class="tekup-pricing-feature extra-mt">
            <ul>
              <li><i class="ri-check-line"></i>10 GB disk space availability</li>
              <li><i class="ri-check-line"></i>50 GB NVMe SSD for use</li>
              <li><i class="ri-check-line"></i>Free platform access for all</li>
              <li><i class="ri-check-line"></i>Free lifetime updates facility</li>
              <li><i class="ri-check-line"></i>Free one year support</li>
            </ul>
          </div>
          <a class="tekup-pricing-btn" href="pricing.html">Select This Package <i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding2 dark-bg">
  <div class="container">
    <div class="tekup-section-title center light-color">
     <h2>Our recent blog & articles</h2>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-5">
        <div class="tekup-blog-wrap bg-white border-0">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog7.png" alt="">
          </div>
          <div class="tekup-blog-content content-large">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h3>Technology support allows erie non-profit to serve</h3></a>
            <p>We are architects of innovation, trailblazers of advancement partners in your success. As a dynamic and forward-thinking</p>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <div class="tekup-blog-wrap blog-grid bg-white border-0">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog1.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="">Branding</a></li>
                <li><a href="">12 August 2023</a></li>
              </ul>
            </div>
            <a href=""><h3>The act of knowledge & the act of design thinking</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
        <div class="tekup-blog-wrap blog-grid bg-white border-0">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog2.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="">Branding</a></li>
                <li><a href="">12 August 2023</a></li>
              </ul>
            </div>
            <a href=""><h3>The act of knowledge & the act of design thinking</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
        <div class="tekup-blog-wrap blog-grid bg-white border-0">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog3.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="">Branding</a></li>
                <li><a href="">12 August 2023</a></li>
              </ul>
            </div>
            <a href=""><h3>Data backup and recovery best practices small</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->



{% include "../templates/layout/header-footer/footer-five.html" %} 
  
{% endblock %}
