{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-four.html" %} 

<div class="tekup-hero-section4">
  <div class="container">
    <div class="tekup-hero-content white-color center">
      <h1>We provide best tech solutions for your business</h1>
      <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking organization</p>
      <div class="tekup-extra-mt">
        <div class="tekup-hero-btn-wrap center">
          <a class="tekup-default-btn" href="">Start a Project <i class="ri-arrow-right-up-line"></i></a>
          <a class="tekup-default-btn outline-btn-white" href="">Our Works <i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
    <div class="tekup-video-wrap extra-padding-top">
      <img src="assets/images/v4/video-bg.png" alt="">
      <a class="tekup-video-popup video-init" href="https://www.youtube.com/watch?v=Vx2aLNgGoAE" >
        <img src="assets/images/v4/play-btn.png" alt="">
        <div class="waves wave-1"></div>
        <div class="waves wave-2"></div>
        <div class="waves wave-3"></div>
      </a>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>We deal with the aspects of professional IT services</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tekup-iconbox-wrap3 border-all">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon3.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>Web Development</h5></a>
            <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
          </div>
        </div>
        <div class="tekup-iconbox-wrap3 border-all">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon6.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>Digital Marketing</h5></a>
            <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-iconbox-wrap3 border-all">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon4.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>App Development</h5></a>
            <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
          </div>
        </div>
        <div class="tekup-iconbox-wrap3 border-all">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon7.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>IT Management</h5></a>
            <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12">
        <div class="row">
          <div class="col-xl-12 col-md-6">
            <div class="tekup-iconbox-wrap3 border-all">
              <div class="tekup-iconbox-icon3">
                <img src="assets/images/v2/icon5.png" alt="">
              </div>
              <div class="tekup-iconbox-data3">
                <a href="single-service.html"><h5>UI/UX Design</h5></a>
                <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="tekup-iconbox-wrap3 border-all">
              <div class="tekup-iconbox-icon3">
                <img src="assets/images/v2/icon8.png" alt="">
              </div>
              <div class="tekup-iconbox-data3">
                <a href="single-service.html"><h5>Cyber Security</h5></a>
                <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tekup-section-padding">
  <div id="tekup-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <div class="tekup-thumb ml-60">
          <img src="assets/images/v4/thumb1.png" alt="">
          <div class="tekup-thumb-card right">
            <img src="assets/images/v3/Satisfaction.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tekup-default-content mr-60">
          <h2>We provide IT solutions & services for any startups</h2>
          <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking organization</p>
          <div class="tekup-extra-mt">
            <div class="tekup-counter-wrap3">
              <div class="tekup-counter-data3">
                <h2><span data-percentage="730" class="tekup-counter"></span>+</h2>
                <p>Successfully Projects</p>
              </div>
              <div class="tekup-counter-data3">
                <h2><span data-percentage="198" class="tekup-counter"></span>+</h2>
                <p>Satisfied Happy Clients</p>
              </div>
            </div>
          </div>
          
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn" href="about-us.html">More About <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Our working process on how to grow your business</h2>
    </div>
    <div class="tekup-iconbox-line" style="background-image: url(assets/images/v1/line.png)">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="tekup-iconbox-wrap2">
            <div class="tekup-iconbox-icon2">
              <img src="assets/images/iconbox/icon5.png" alt="">
              <div class="tekup-iconbox-count">
                01
              </div>
            </div>
            <div class="tekup-iconbox-data2">
              <a href="single-service.html"><h5>Initiation & Planning</h5></a>
              <p>We are architects innovation trailblazers of technological advancement</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="tekup-iconbox-wrap2">
            <div class="tekup-iconbox-icon2">
              <img src="assets/images/iconbox/icon6.png" alt="">
              <div class="tekup-iconbox-count">
                02
              </div>
            </div>
            <div class="tekup-iconbox-data2">
              <a href="single-service.html"><h5>Execution & Development</h5></a>
              <p>We are architects innovation trailblazers of technological advancement</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
          <div class="tekup-iconbox-wrap2">
            <div class="tekup-iconbox-icon2">
              <img src="assets/images/iconbox/icon7.png" alt="">
              <div class="tekup-iconbox-count">
                03
              </div>
            </div>
            <div class="tekup-iconbox-data2">
              <a href="single-service.html"><h5>Testing & Maintenance</h5></a>
              <p>We are architects innovation trailblazers of technological advancement</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding bg-light1">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Explore our recent projects</h2>
    </div>
  </div>
  <div class="tekup-portfolio-slider slider-three">
    <div class="tekup-portfolio-wrap3">
        <div class="tekup-portfolio-thumb3">
          <img src="assets/images/portfolio/p_1.png" alt="">
          <a class="tekup-portfolio-btn3" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
        <div class="tekup-portfolio-data3">
          <a href="single-portfolio.html"><h3>Design of the year</h3></a>
          <p>UI/UX Design</p>
        </div>
    </div>
    <div class="tekup-portfolio-wrap3">
        <div class="tekup-portfolio-thumb3">
          <img src="assets/images/portfolio/p_2.png" alt="">
          <a class="tekup-portfolio-btn3" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
        <div class="tekup-portfolio-data3">
          <a href="single-portfolio.html"><h3> Ways to level up your brand</h3></a>
          <p>Branding</p>
        </div>
    </div>
    <div class="tekup-portfolio-wrap3">
        <div class="tekup-portfolio-thumb3">
          <img src="assets/images/portfolio/p_3.png" alt="">
          <a class="tekup-portfolio-btn3" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
        <div class="tekup-portfolio-data3">
          <a href="single-portfolio.html"><h3>Cyber Security Analysis</h3></a>
          <p>Technology</p>
        </div>
    </div>
    <div class="tekup-portfolio-wrap3">
      <div class="tekup-portfolio-thumb3">
          <img src="assets/images/portfolio/p_1.png" alt="">
          <a class="tekup-portfolio-btn3" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
        <div class="tekup-portfolio-data3">
          <a href="single-portfolio.html"><h3>Design Discussion</h3></a>
          <p>Design</p>
        </div>
    </div>
    <div class="tekup-portfolio-wrap3">
      <div class="tekup-portfolio-thumb3">
        <img src="assets/images/portfolio/p_5.png" alt="">
        <a class="tekup-portfolio-btn3" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
      </div>
      <div class="tekup-portfolio-data3">
        <a href="single-portfolio.html"><h3>Product Security Analysis</h3></a>
        <p>Product</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Trusted by more than 200+ client’s around the world</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
          <div class="tekup-testimonial-box">
            <div class="tekup-testimonial-rating">
              <ul>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
                <li><i class="ri-star-s-fill"></i></li>
              </ul>
            </div>
            <p>“ We appreciate the consistent high-quality service provided by their team goes above and beyond concerns promptly ”</p>
            <div class="tekup-testimonial-author">
              <h5>Alexander Cameron</h5>
              <span>Creative Director</span>
            </div>
          </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-testimonial-box">
          <div class="tekup-testimonial-rating">
            <ul>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
            </ul>
          </div>
          <p>“ Collaborating with has been  advantage for our company. Their dedication to staying abreast of the latest industry trends ”</p>
          <div class="tekup-testimonial-author">
            <h5>Marvin McKinney</h5>
            <span>Product Manager</span>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-testimonial-box">
          <div class="tekup-testimonial-rating">
            <ul>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
            </ul>
          </div>
          <p>“ We appreciate the consistent high-quality service provided by their team goes above and beyond concerns promptly ”</p>
          <div class="tekup-testimonial-author">
            <h5>Brooklyn Simmons</h5>
            <span>Creative Director</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tekup-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tekup-default-content mr-60">
          <h2>Have any questions? here some answers for you</h2>
          <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success</p>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn" href="faq.html">Ask Any Question <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tekup-accordion-wrap init-wrap">
          <div class="tekup-accordion-item open">
            <div class="tekup-accordion-header init-header">
              <h6><span>Q1.</span> What Is The Design Process For Branding?</h6>
            </div>
            <div class="tekup-accordion-body init-body">
              <p>At our IT solution company, we are committed to exceptional customer service and support. If you are experiencing technical difficulties or need assistance with</p>
            </div>
          </div>
          <div class="tekup-accordion-item">
            <div class="tekup-accordion-header init-header">
              <h6><span>Q2.</span> How Much Does Logo Design Services Cost?</h6>
            </div>
            <div class="tekup-accordion-body init-body">
              <p>At our IT solution company, we are committed to exceptional customer service and support. If you are experiencing technical difficulties or need assistance with</p>
            </div>
          </div>
          <div class="tekup-accordion-item">
            <div class="tekup-accordion-header init-header">
             <h6><span>Q3.</span>How Long Will It Take To Complete My Project?</h6>
            </div>
            <div class="tekup-accordion-body init-body">
              <p>At our IT solution company, we are committed to exceptional customer service and support. If you are experiencing technical difficulties or need assistance with</p>
            </div>
          </div>
          <div class="tekup-accordion-item">
            <div class="tekup-accordion-header init-header">
             <h6><span>Q4.</span>What Is Included In A Round Of Revisions?</h6>
            </div>
            <div class="tekup-accordion-body init-body">
              <p>At our IT solution company, we are committed to exceptional customer service and support. If you are experiencing technical difficulties or need assistance with</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tekup-cta-section tekup-section-padding" style="background-image: url(assets/images/v4/cta-bg.png)">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-8">
        <div class="tekup-cta-content">
          <h2>Let’s work together </h2>
          <p>We are architects of innovation, trailblazers of advancement, and partners in your success. As a dynamic and forward</p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-4 d-flex align-items-center justify-content-end">
        <div class="tekup-cta-btn">
          <a class="tekup-default-btn tekup-white-btn" href="contact-us.html">Start a Project <i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
