{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-nine.html" %} 

<div class="tekup-hero-section9 bg-light1" style="background-image: url(assets/images/v9/bg.png)">
  <div class="container">
    <div class="tekup-hero-content small-mw dark-color large-content center">
        <h5>We provide professional IT services</h5>
        <h1>Affordable big IT & technology solutions</h1>
        <p>We are architects of innovation, trailblazers technological advancement, and partners in your success. As a dynamic and forward</p>
        <div class="tekup-extra-mt">
          <div class="tekup-hero-btn-wrap center">
            <a class="tekup-default-btn" href="">Start a Project <i class="ri-arrow-right-up-line"></i></a>
            <a class="tekup-default-btn outline-btn-dark" href="">Our Works <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
    </div>
  </div>
  <div class="tekup-hero-thumb1">
    <img src="assets/images/v9/thumb1.png" alt="">
  </div>
  <div class="tekup-hero-thumb2">
    <img src="assets/images/v9/thumb2.png" alt="">
  </div>
  <div class="tekup-hero-thumb3">
    <img src="assets/images/v9/thumb3.png" alt="">
  </div>
  <div class="tekup-hero-thumb4">
    <img src="assets/images/v9/thumb4.png" alt="">
  </div>
</div>
<!-- End section -->

{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
