{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="tekup-hero-section" style="background-image: url(assets/images/hero/hero-bg1.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="tekup-hero-content white-color">
          <h1>Optimize your enterprise with our leading guidance</h1>
          <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking</p>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn" href="contact-us.html">Start a Project <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-end justify-content-end">
        <div class="tekup-hero-rating">
          <img class="tekup-hero-author" src="assets/images/v1/author.png" alt="">
          <p>Avg rating 4.8 makes us world best agency.</p>
          <ul>
            <li><i class="ri-star-s-fill"></i></li>
            <li><i class="ri-star-s-fill"></i></li>
            <li><i class="ri-star-s-fill"></i></li>
            <li><i class="ri-star-s-fill"></i></li>
            <li><i class="ri-star-s-fill"></i></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- End section -->

<div class="sectin bg-light1 tekup-section-padding">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>We deal with the aspects of professional IT services</h2>
    </div>
    <div class="tekup-4column-slider">
      <div class="tekup-iconbox-wrap">
        <div class="tekup-iconbox-icon">
          <img src="assets/images/iconbox/icon1.png" alt="">
        </div>
        <div class="tekup-iconbox-data">
          <a href="single-service.html"><h4>Web Development</h4></a>
          <p>We are architects of innovation trailblazers technological</p>
        </div>
      </div>
      <div class="tekup-iconbox-wrap">
        <div class="tekup-iconbox-icon">
          <img src="assets/images/iconbox/icon2.png" alt="">
        </div>
        <div class="tekup-iconbox-data">
          <a href="single-service.html"><h4>App Development</h4></a>
          <p>We are architects of innovation trailblazers technological</p>
        </div>
      </div>
      <div class="tekup-iconbox-wrap">
        <div class="tekup-iconbox-icon">
          <img src="assets/images/iconbox/icon3.png" alt="">
        </div>
        <div class="tekup-iconbox-data">
          <a href="single-service.html"><h4>UI/UX Design</h4></a>
          <p>We are architects of innovation trailblazers technological</p>
        </div>
      </div>
      <div class="tekup-iconbox-wrap">
        <div class="tekup-iconbox-icon">
          <img src="assets/images/iconbox/icon4.png" alt="">
        </div>
        <div class="tekup-iconbox-data">
          <a href="single-service.html"><h4>Digital Marketing</h4></a>
          <p>We are architects of innovation trailblazers technological</p>
        </div>
      </div>
      <div class="tekup-iconbox-wrap">
        <div class="tekup-iconbox-icon">
          <img src="assets/images/iconbox/icon3.png" alt="">
        </div>
        <div class="tekup-iconbox-data">
          <a href="single-service.html"><h4>UI/UX Design</h4></a>
          <p>We are architects of innovation trailblazers technological</p>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="tekup-thumb">
          <img src="assets/images/v1/thumb1.png" alt="">
          <div class="tekup-thumb-card">
            <img src="assets/images/v3/Satisfaction.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-xl-5 offset-xl-1 col-lg-6 d-flex align-items-center">
        <div class="tekup-default-content">
          <h2>Exclusive technology to provide IT solutions</h2>
          <p>We are architect of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking organization</p>
          <div class="tekup-icon-list">
            <ul>
              <li><i class="ri-check-line"></i>Easily Build Custom Reports And Dashboards</li>
              <li><i class="ri-check-line"></i>Legacy Software Modernization</li>
              <li><i class="ri-check-line"></i>Software For The Open Enterprise</li>
            </ul>
          </div>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn" href="about-us.html">More About <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tekup-portfolio-section tekup-section-padding-top">
  <div class="container">
    <div class="tekup-section-title center light-color">
      <h2>Explore our recent projects</h2>
    </div>
  </div>
  <div class="tekup-portfolio-slider">
    <div class="tekup-portfolio-wrap">
      <div class="tekup-portfolio-thumb">
        <img src="assets/images/portfolio/p_1.png" alt="">
        <div class="tekup-portfolio-data">
          <a href="single-portfolio.html"><h5>Design of the year</h5></a>
          <p>UI/UX Design</p>
          <a class="tekup-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
    <div class="tekup-portfolio-wrap">
      <div class="tekup-portfolio-thumb">
        <img src="assets/images/portfolio/p_2.png" alt="">
        <div class="tekup-portfolio-data">
          <a href="single-portfolio.html"><h5> Ways to level up your brand</h5></a>
          <p>Branding</p>
          <a class="tekup-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
    <div class="tekup-portfolio-wrap">
      <div class="tekup-portfolio-thumb">
        <img src="assets/images/portfolio/p_3.png" alt="">
        <div class="tekup-portfolio-data">
          <a href="single-portfolio.html"><h5>Cyber Security Analysis</h5></a>
          <p>Technology</p>
          <a class="tekup-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
    <div class="tekup-portfolio-wrap">
      <div class="tekup-portfolio-thumb">
        <img src="assets/images/portfolio/p_1.png" alt="">
        <div class="tekup-portfolio-data">
          <a href="single-portfolio.html"><h5>Design Discussion</h5></a>
          <p>Design</p>
          <a class="tekup-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
    <div class="tekup-portfolio-wrap">
      <div class="tekup-portfolio-thumb">
        <img src="assets/images/portfolio/p_5.png" alt="">
        <div class="tekup-portfolio-data">
          <a href="single-portfolio.html"><h5>Product Security Analysis</h5></a>
          <p>Product</p>
          <a class="tekup-portfolio-btn" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Our working process on how to grow your business</h2>
    </div>
    <div class="tekup-iconbox-line" style="background-image: url(assets/images/v1/line.png)">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="tekup-iconbox-wrap2">
            <div class="tekup-iconbox-icon2">
              <img src="assets/images/iconbox/icon5.png" alt="">
              <div class="tekup-iconbox-count">
                01
              </div>
            </div>
            <div class="tekup-iconbox-data2">
              <a href="single-service.html"><h5>Initiation & Planning</h5></a>
              <p>We are architects innovation trailblazers of technological advancement</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="tekup-iconbox-wrap2">
            <div class="tekup-iconbox-icon2">
              <img src="assets/images/iconbox/icon6.png" alt="">
              <div class="tekup-iconbox-count">
                02
              </div>
            </div>
            <div class="tekup-iconbox-data2">
              <a href="single-service.html"><h5>Execution & Development</h5></a>
              <p>We are architects innovation trailblazers of technological advancement</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
          <div class="tekup-iconbox-wrap2">
            <div class="tekup-iconbox-icon2">
              <img src="assets/images/iconbox/icon7.png" alt="">
              <div class="tekup-iconbox-count">
                03
              </div>
            </div>
            <div class="tekup-iconbox-data2">
              <a href="single-service.html"><h5>Testing & Maintenance</h5></a>
              <p>We are architects innovation trailblazers of technological advancement</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Our working process on how to grow your business</h2>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="tekup-team-wrap">
          <div class="tekup-team-thumb">
            <img src="assets/images/team/team1.png" alt="">
            <div class="tekup-social-icon-box style-four position">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tekup-team-data">
            <a href="single-team.html"><h5>Marvin McKinney</h5></a>
            <p>CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="tekup-team-wrap">
          <div class="tekup-team-thumb">
            <img src="assets/images/team/team2.png" alt="">
            <div class="tekup-social-icon-box style-four position">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tekup-team-data">
            <a href="single-team.html"><h5>Sophia Rodriguez</h5></a>
            <p>Creative Director</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="tekup-team-wrap">
          <div class="tekup-team-thumb">
            <img src="assets/images/team/team3.png" alt="">
            <div class="tekup-social-icon-box style-four position">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tekup-team-data">
            <a href="single-team.html"><h5>Alexander Cameron</h5></a>
            <p>Lead Developer</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="tekup-team-wrap">
          <div class="tekup-team-thumb">
            <img src="assets/images/team/team4.png" alt="">
            <div class="tekup-social-icon-box style-four position">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tekup-team-data">
            <a href="single-team.html"><h5>Brooklyn Simmons</h5></a>
            <p>Product Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title">
      <div class="row">
        <div class="col-xxl-5 col-lg-6">
          <h2>Recent blog & articles about technology</h2>
        </div>
        <div class="col-xxl-7 col-lg-6 d-flex align-items-center justify-content-end">
          <div class="tekup-title-btn">
            <a class="tekup-default-btn" href="blog.html">View All Posts <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tekup-blog-wrap">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog1.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h3>Technology support allows erie non-profit to serve</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-blog-wrap">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog2.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="single-blog.html">Branding</a></li>
                <li><a href="single-blog.html">12 August 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h3>The act of knowledge & the act of design thinking</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-blog-wrap">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog3.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="single-blog.html">Design</a></li>
                <li><a href="single-blog.html">9 March 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h3>Core on web vitals, a smas magazine case study</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
