{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-four.html" %} 

<div class="tekup-hero-section4">
  <div class="container">
    <div class="tekup-hero-content white-color center">
      <h1>We provide best tech solutions for your business</h1>
      <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking organization</p>
      <div class="tekup-extra-mt">
        <div class="tekup-hero-btn-wrap center">
          <a class="tekup-default-btn" href="">Start a Project <i class="ri-arrow-right-up-line"></i></a>
          <a class="tekup-default-btn outline-btn-white" href="">Our Works <i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
    <div class="tekup-video-wrap extra-padding-top">
      <img src="assets/images/v4/video-bg.png" alt="">
      <a class="tekup-video-popup video-init" href="https://www.youtube.com/watch?v=Vx2aLNgGoAE" >
        <img src="assets/images/v4/play-btn.png" alt="">
        <div class="waves wave-1"></div>
        <div class="waves wave-2"></div>
        <div class="waves wave-3"></div>
      </a>
    </div>
  </div>
</div>

Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, veritatis officiis aut quaerat saepe excepturi in sit laborum, incidunt est quia modi odio quae maxime reiciendis, accusamus velit animi maiores ab quod fugit. Dolorum aliquam tempora cum magni accusamus consectetur.

{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
