{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-five.html" %} 

<div class="tekup-hero-section5" style="background-image: url(assets/images/hero/hero-bg4.png)">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 d-flex align-items-center">
        <div class="tekup-hero-content white-color">
          <h1>Affordable big IT & technology solutions</h1>
          <p>We are architects of innovation, trailblazers of advancement, and partners in your success. As a dynamic and forward</p>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn tekup-white-btn" href="">Start a Project <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
        <div class="tekup-hero-form">
          <h3>Fill The Contact Form</h3>
          <p>Get Free Consultation For IT Solutions</p>
          <form action="#">
            <div class="tekup-main-field">
              <input type="text" placeholder="Your name">
            </div>
            <div class="tekup-main-field">
              <input type="email" placeholder="Email address">
            </div>
            <div class="tekup-main-field">
              <textarea name="textarea" placeholder="Write your message"></textarea>
            </div>
            <button id="tekup-default-btn" type="button">Send Message <i class="ri-arrow-right-up-line"></i></button>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% include "../templates/layout/header-footer/footer-five.html" %} 
  
{% endblock %}
