{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-ten.html" %} 

<div class="tekup-hero-section10 bg-light1">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="tekup-hero-content dark-color">
          <h1>Software crafting for digital success</h1>
          <p>We are architects innovation, trailblazers technological advancement, and partners in your success.</p>
          <div class="tekup-extra-mt">
              <a class="tekup-default-btn" href="">Start a Project <i class="ri-arrow-right-up-line"></i></a>
          </div>
          <div class="tekup-hero-rating dark-color">
            <img class="tekup-hero-author" src="assets/images/v1/author.png" alt="">
            <p>Avg rating 4.8 out of 5.0</p>
            <ul>
              <li><img src="assets/images/v10/rating.png" alt=""></li>
              <li><img src="assets/images/v10/rating.png" alt=""></li>
              <li><img src="assets/images/v10/rating.png" alt=""></li>
              <li><img src="assets/images/v10/rating.png" alt=""></li>
              <li><img src="assets/images/v10/rating.png" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maxime explicabo dolore voluptatem modi accusamus praesentium deleniti necessitatibus repellat recusandae soluta minima aliquam pariatur error, expedita vitae quisquam quia fuga saepe nihil magnam, repudiandae dicta accusantium! Natus officiis, id repudiandae consequuntur modi cupiditate dicta nobis dolores doloribus magni illum quidem nulla suscipit molestias perferendis dolore ab sed, reprehenderit sunt magnam ea autem? Ducimus quos assumenda molestias magni dolores, labore eum delectus, similique voluptatem maxime at dolore natus sunt eius modi consequuntur rerum? Recusandae autem sapiente minus, consequatur blanditiis natus neque ab eos repudiandae amet aspernatur illum aut illo! Provident, dicta.

{% include "../templates/layout/header-footer/footer-ten.html" %} 
  
{% endblock %}
