{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="tekup-hero-section" style="background-image: url(assets/images/hero/hero-bg1.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="tekup-hero-content white-color">
          <h1>Optimize your enterprise with our leading guidance</h1>
          <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking</p>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn " href="">Start a Project <img src="assets/images/icon/arrow-top.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-end justify-content-end">
        <div class="tekup-hero-rating">
          <img class="tekup-hero-author" src="assets/images/v1/author.png" alt="">
          <p>Avg rating 4.8 makes us world best agency.</p>
          <ul>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
            <li><img src="assets/images/v1/rating.png" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
