{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-nine.html" %} 

<div class="tekup-hero-section9 bg-light1" style="background-image: url(assets/images/v9/bg.png)">
  <div class="container">
    <div class="tekup-hero-content small-mw dark-color large-content center">
        <h5>We provide professional IT services</h5>
        <h1>Affordable big IT & technology solutions</h1>
        <p>We are architects of innovation, trailblazers technological advancement, and partners in your success. As a dynamic and forward</p>
        <div class="tekup-extra-mt">
          <div class="tekup-hero-btn-wrap center">
            <a class="tekup-default-btn" href="">Start a Project <i class="ri-arrow-right-up-line"></i></a>
            <a class="tekup-default-btn outline-btn-dark" href="">Our Works <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
    </div>
  </div>
  <div class="tekup-hero-thumb1">
    <img src="assets/images/v9/thumb1.png" alt="">
  </div>
  <div class="tekup-hero-thumb2">
    <img src="assets/images/v9/thumb2.png" alt="">
  </div>
  <div class="tekup-hero-thumb3">
    <img src="assets/images/v9/thumb3.png" alt="">
  </div>
  <div class="tekup-hero-thumb4">
    <img src="assets/images/v9/thumb4.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>We deal with the aspects of professional IT services</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tekup-iconbox-wrap3 border-all">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon3.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>Web Development</h5></a>
            <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
          </div>
        </div>
        <div class="tekup-iconbox-wrap3 border-all">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon6.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>Digital Marketing</h5></a>
            <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-iconbox-wrap3 border-all">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon4.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>App Development</h5></a>
            <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
          </div>
        </div>
        <div class="tekup-iconbox-wrap3 border-all">
          <div class="tekup-iconbox-icon3">
            <img src="assets/images/v2/icon7.png" alt="">
          </div>
          <div class="tekup-iconbox-data3">
            <a href="single-service.html"><h5>IT Management</h5></a>
            <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12">
        <div class="row">
          <div class="col-xl-12 col-md-6">
            <div class="tekup-iconbox-wrap3 border-all">
              <div class="tekup-iconbox-icon3">
                <img src="assets/images/v2/icon5.png" alt="">
              </div>
              <div class="tekup-iconbox-data3">
                <a href="single-service.html"><h5>UI/UX Design</h5></a>
                <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="tekup-iconbox-wrap3 border-all">
              <div class="tekup-iconbox-icon3">
                <img src="assets/images/v2/icon8.png" alt="">
              </div>
              <div class="tekup-iconbox-data3">
                <a href="single-service.html"><h5>Cyber Security</h5></a>
                <p>We are architects technological advancement, and partners in your success. As a dynamic</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section dark-bg tekup-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <div class="tekup-thumb ml-30">
          <img src="assets/images/v5/thumb1.png" alt="">
          <div class="tekup-thumb-card right">
            <img src="assets/images/v3/rating.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tekup-default-content light-color mr-60">
          <h2>We make awesome IT services for your business</h2>
          <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking organization</p>
          <div class="tekup-extra-mt">
            <div class="tekup-icon-list-wrap2">
              <div class="tekup-icon-list-item2">
                <div class="tekup-icon-list-icon2">
                  <img src="assets/images/iconbox/icon8.png" alt="">
                </div>
                <div class="tekup-icon-list-data2">
                  <p>Highly Expert
                    Team Members</p>
                </div>
              </div>
              <div class="tekup-icon-list-item2">
                <div class="tekup-icon-list-icon2">
                  <img src="assets/images/iconbox/icon9.png" alt="">
                </div>
                <div class="tekup-icon-list-data2">
                  <p>Urgent Support
                    for Clients</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tekup-extra-mt">
            <a class="tekup-default-btn" href="about-us.html">More About <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tekup-section-padding">
  <div class="container">
    <div class="tekup-section-title center large-width">
      <h2>Meet the team behind techverse</h2>
    </div>
  </div>
  <div class="tekup-six-column-slider">
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team1.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data tekup-team-data2">
        <a href="single-team.html"><h5>Marvin McKinney</h5></a>
        <p>CEO & Founder</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team2.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data tekup-team-data2">
        <a href="single-team.html"><h5>Sophia Rodriguez</h5></a>
        <p>Creative Director</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team3.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data tekup-team-data2">
        <a href="single-team.html"><h5>Alexander Cameron</h5></a>
        <p>Lead Developer</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team4.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data tekup-team-data2">
        <a href="single-team.html"><h5>Brooklyn Simmons</h5></a>
        <p>Product Designer</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team5.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data tekup-team-data2">
        <a href="single-team.html"><h5>Kelly Williams</h5></a>
        <p>Digital Marketer</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team6.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data tekup-team-data2">
        <a href="single-team.html"><h5>Kari Rasmussen</h5></a>
        <p>Cyber Specialist</p>
      </div>
    </div>
    <div class="tekup-team-wrap">
      <div class="tekup-team-thumb">
        <img src="assets/images/team/team3.png" alt="">
        <div class="tekup-social-icon-box style-four position">
          <ul>
            <li>
              <a href="https://www.linkedin.com/">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tekup-team-data tekup-team-data2">
        <a href="single-team.html"><h5>Alexander Cameron</h5></a>
        <p>Lead Developer</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tekup-thumb mr-30">
          <img src="assets/images/v3/thumb2.png" alt="">
          <div class="tekup-thumb-card right">
            <img src="assets/images/v3/project-done.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tekup-default-content ml-60">
          <h2>We are increasing business success with technology</h2>
          <p>We are architects of innovation, trailblazers of technological advancement, and partners in your success. As a dynamic and forward-thinking organization</p>
          <div class="tekup-extra-mt">
            <div class="skillbar" data-percent="86">
              <p class="skillbar-lable">
                <span class="skill-bar-title">Business Security</span>
                <span class="skill-bar-percent"></span>
              </p>
              <div class="skillbar-box">
                <p class="skillbar-bar"></p>
              </div>
            </div>
            <div class="skillbar" data-percent="72">
              <p class="skillbar-lable">
                <span class="skill-bar-title">Career Development</span>
                <span class="skill-bar-percent"></span>
              </p>
              <div class="skillbar-box">
                <p class="skillbar-bar"></p>
              </div>
            </div>
            <div class="skillbar" data-percent="95">
              <p class="skillbar-lable">
                <span class="skill-bar-title">Business Innovation</span>
                <span class="skill-bar-percent"></span>
              </p>
              <div class="skillbar-box">
                <p class="skillbar-bar"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tekup-section-padding">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Explore our recent projects</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap4">
          <div class="tekup-portfolio-thumb4">
            <img src="assets/images/p2/p_1.png" alt="">
            <div class="tekup-portfolio-data4">
              <a href="single-portfolio.html"><h5>Design of the year</h5></a>
              <p>UI/UX Design</p>
              <a class="tekup-portfolio-btn4" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap4">
          <div class="tekup-portfolio-thumb4">
            <img src="assets/images/p2/p_2.png" alt="">
            <div class="tekup-portfolio-data4">
              <a href="single-portfolio.html"><h5> Ways to level up your brand</h5></a>
              <p>Branding</p>
              <a class="tekup-portfolio-btn4" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap4">
          <div class="tekup-portfolio-thumb4">
            <img src="assets/images/p2/p_3.png" alt="">
            <div class="tekup-portfolio-data4">
              <a href="single-portfolio.html"><h5>Cyber Security Analysis</h5></a>
              <p>Technology</p>
              <a class="tekup-portfolio-btn4" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap4">
          <div class="tekup-portfolio-thumb4">
            <img src="assets/images/p2/p_4.png" alt="">
            <div class="tekup-portfolio-data4">
              <a href="single-portfolio.html"><h5>Design Discussion</h5></a>
              <p>Design</p>
              <a class="tekup-portfolio-btn4" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap4">
          <div class="tekup-portfolio-thumb4">
            <img src="assets/images/p2/p_6.png" alt="">
            <div class="tekup-portfolio-data4">
              <a href="single-portfolio.html"><h5>Product Security Analysis</h5></a>
              <p>Product</p>
              <a class="tekup-portfolio-btn4" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-portfolio-wrap4">
          <div class="tekup-portfolio-thumb4">
            <img src="assets/images/p2/p_7.png" alt="">
            <div class="tekup-portfolio-data4">
              <a href="single-portfolio.html"><h5>Cross Industry Expertise</h5></a>
              <p>Marketing</p>
              <a class="tekup-portfolio-btn4" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tekup-center-btn">
      <a class="tekup-default-btn" href="portfolio-01.html">View All Projects <i class="ri-arrow-right-up-line"></i></a>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tekup-section-padding">
  <div class="container">
    <div class="tekup-section-title center">
      <h2>Trusted by more than 200+ client’s around the world</h2>
    </div>
      <div class="tekup-testimonial-slider">
        <div class="tekup-testimonial-data">
          <div class="tekup-testimonial-rating">
            <ul>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
            </ul>
          </div>
          <p>“ If you’re looking for a rewarding career and a chance to make an impact, you’ve come to the right place We will transform your business through our techniques! ”</p>
          <div class="tekup-testimonial-author">
            <img src="assets/images/team/team1.png" alt="">
            <h5>Alexander Cameron</h5>
            <span>Lead Developer</span>
          </div>
        </div>
        <div class="tekup-testimonial-data">
          <div class="tekup-testimonial-rating">
            <ul>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
              <li><i class="ri-star-s-fill"></i></li>
            </ul>
          </div>
          <p>“ If you’re looking for a rewarding career and a chance to make an impact, you’ve come to the right place We will transform your business through our techniques! ”</p>
          <div class="tekup-testimonial-author">
            <img src="assets/images/team/team1.png" alt="">
            <h5>Alexander Cameron</h5>
            <span>Lead Developer</span>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-light1 tekup-section-padding2">
  <div class="container">
    <div class="tekup-section-title">
      <div class="row">
        <div class="col-xxl-5 col-lg-6">
          <h2>Recent blog & articles about technology</h2>
        </div>
        <div class="col-xxl-7 col-lg-6 d-flex align-items-center justify-content-end">
          <div class="tekup-title-btn">
            <a class="tekup-default-btn" href="blog.html">View All Posts <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tekup-blog-wrap bg-white border-0">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog1.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="single-blog.html">Technology</a></li>
                <li><a href="single-blog.html">26 June 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h3>Technology support allows erie non-profit to serve</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-blog-wrap bg-white border-0">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog2.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="single-blog.html">Branding</a></li>
                <li><a href="single-blog.html">12 August 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h3>The act of knowledge & the act of design thinking</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tekup-blog-wrap bg-white border-0">
          <div class="tekup-blog-thumb">
            <img src="assets/images/blog/blog3.png" alt="">
          </div>
          <div class="tekup-blog-content">
            <div class="tekup-blog-meta">
              <ul>
                <li><a href="single-blog.html">Design</a></li>
                <li><a href="single-blog.html">9 March 2023</a></li>
              </ul>
            </div>
            <a href="single-blog.html"><h3>Core on web vitals, a smas magazine case study</h3></a>
            <a class="tekup-blog-btn" href="single-blog.html">Read More <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
