{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="tekup-hero-section3 bg-light1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tekup-hero-content dark-color">
          <h5>We provide professional IT services</h5>
          <h1>Best IT services for your success</h1>
          <p>We are architects of innovation, trailblazers technological advancement, and partners in your success. As a dynamic and forward</p>
          <div class="tekup-extra-mt">
            <div class="tekup-hero-btn-wrap">
              <a class="tekup-default-btn" href="">Start a Project <img src="assets/images/icon/arrow-top.svg" alt=""></a>
              <a class="tekup-default-btn outline-btn-dark" href="">Our Works <img src="assets/images/icon/arrow-top-dark.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tekup-hero-thumb">
          <img src="assets/images/v3/hero-thumb.png" alt="">
          <div class="tekup-client-rating">
            <img src="assets/images/v3/rating.png" alt="">
          </div>
          <div class="tekup-client-satisfaction">
            <img src="assets/images/v3/Satisfaction.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% include "../templates/layout/header-footer/footer-three.html" %} 
  
{% endblock %}
