{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-eight.html" %} 

<div class="tekup-hero-section8 dark-bg">
  <div class="container">
    <div class="tekup-hero-content white-color center large-content">
      <h1>The best innovative technology solutions</h1>
      <p>We are architects of innovation, trailblazers of technological advancement</p>
      <div class="tekup-extra-mt">
        <div class="tekup-hero-btn-wrap center">
          <a class="tekup-default-btn" href="">Start a Project <img src="assets/images/icon/arrow-top.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="tekup-hero-thumb-wrap">
        <div class="tekup-hero-thumb-column">
          <div class="tekup-hero-thumb-item">
            <img src="assets/images/v8/hero-thumb1.png" alt="">
          </div>
          <div class="tekup-hero-thumb-item">
            <img src="assets/images/v8/hero-thumb2.png" alt="">
          </div>
          
        </div>
        <div class="tekup-hero-thumb-column">
          <div class="tekup-hero-thumb-item">
            <img src="assets/images/v8/hero-thumb3.png" alt="">
          </div>
        </div>
        <div class="tekup-hero-thumb-column">
          <div class="tekup-hero-thumb-item">
            <img src="assets/images/v8/hero-thumb4.png" alt="">
          </div>
          <div class="tekup-hero-thumb-item">
            <img src="assets/images/v8/hero-thumb5.png" alt="">
          </div>
        </div>
    </div>
    <div class="tekup-hero-counter-section">
      <div id="tekup-counter"></div>
        <div class="tekup-counter-wrap">
            <div class="tekup-counter-data light-color">
              <h2><span data-percentage="26" class="tekup-counter"></span>+</h2>
              <h4>Years of Experience</h4>
              <p>To succeed, every software solution be deeply integrated into the</p>
            </div>
            <div class="tekup-counter-data light-color">
              <h2><span data-percentage="730" class="tekup-counter"></span>+</h2>
              <h4>Successfully Projects Done</h4>
              <p>To succeed, every software solution be deeply integrated into the</p>
            </div>
            <div class="tekup-counter-data light-color">
              <h2><span data-percentage="198" class="tekup-counter"></span>+</h2>
              <h4>Satisfied Happy Clients</h4>
              <p>To succeed, every software solution be deeply integrated into the</p>
            </div>
        </div>
    </div>
    <!-- End section -->
  </div>
    
</div>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis pariatur amet cupiditate impedit repellat, temporibus iste alias accusamus, inventore deserunt assumenda qui quo? Facere, ullam. Nesciunt officiis ea aperiam facilis temporibus nisi totam nostrum id veniam nulla, architecto obcaecati excepturi asperiores fugiat perferendis, tempora vel ex accusantium, itaque suscipit omnis! Rerum error eaque earum tempore magnam officiis, reprehenderit velit eveniet nostrum molestiae molestias sit praesentium illum aut ut, provident eum optio esse vitae laboriosam quis maxime corrupti corporis? Quod natus voluptas, architecto quasi dolorem harum optio rem veniam fugiat quae facilis ipsum qui laborum totam velit eos maxime aut?

{% include "../templates/layout/header-footer/footer-eight.html" %} 
  
{% endblock %}
