{% extends "layout/layout.html" %}
{% set page_title = "Web Development" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="tekup-breadcrumb" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tekup-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="tekup-service-details-wrap">
          <img src="assets/images/service/service-deatils.png" alt="">
          <div class="tekup-service-details-item">
            <h3>Overview</h3>
            <p>A content management system helps you create, manage, and publish content on the web. It also keep content organized and accessible so it can be used and repurposed effectively. There are various kinds of content management systems available—from cloud-based to a headless CMS—to meet every audience need.</p>
            <p>CMS provides user-friendly features for easy editing and is compatible with installing plugins and tools that provide even more features for advanced functions. API CMS’s are built to have an excellent user-friendly interface that is easy to use.</p>
          </div>
          <div class="tekup-service-details-item">
            <h3>Features</h3>
            <p>A content management system (CMS) is an application that is used to manage content, allowing multiple contributors to create, edit and publish. Content in a CMS is typically stored in a database and displayed in a presentation layer based on a set of templates like a website.</p>
            <div class="tekup-icon-list">
              <ul>
                <li><i class="ri-check-line"></i>Creating and editing content</li>
                <li><i class="ri-check-line"></i>Workflows, reporting, and content organization</li>
                <li><i class="ri-check-line"></i>User & role-based administration and security</li>
                <li><i class="ri-check-line"></i>Flexibility, scalability, and performance and analysis</li>
                <li><i class="ri-check-line"></i>Multilingual content capabilities</li>
              </ul>
            </div>
          </div>
          <div class="tekup-service-details-item">
            <h3>Goal</h3>
            <p>A content management system (CMS) is an application that is used to manage content, allowing multiple contributors to create, edit and publish. Content in a CMS is typically stored in a database and displayed in a presentation layer based on a set of templates like a website.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tekup-service-sidebar">
          <div class="tekup-service-menu">
            <ul>
              <li><a href="">Web Development <i class="ri-arrow-right-up-line"></i></a></li>
              <li><a href="">App Development <i class="ri-arrow-right-up-line"></i></a></li>
              <li><a href="">UI/UX Design <i class="ri-arrow-right-up-line"></i></a></li>
              <li><a href="">Digital Marketing <i class="ri-arrow-right-up-line"></i></a></li>
              <li><a href="">IT Management <i class="ri-arrow-right-up-line"></i></a></li>
              <li><a href="">Cyber Security <i class="ri-arrow-right-up-line"></i></a></li>
            </ul>
          </div>
          <div class="tekup-service-contact" style="background-image: url(assets/images/service/bg.png)">
            <img src="assets/images/service/icon.png" alt="">
            <h3>Don't hesitate to contact us</h3>
            <p>At our IT solution company, we are committed to exceptional</p>
            <a class="tekup-default-btn tekup-white-btn" href="contact-us.html">Get in Touch <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-cover" style="background-image: url(assets/images/v1/cta-bg.png)">
  <div class="container">
    <div class="tekup-cta-wrap">
      <div class="tekup-cta-content center">
        <h2>Let’s work together </h2>
        <p>We are architects of innovation, trailblazers of advancement, and partners in your success. As a dynamic and forward</p>
        <div class="tekup-extra-mt">
          <a class="tekup-default-btn tekup-white-btn" href="contact-us.html">Start a Project <i class="ri-arrow-right-up-line"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->



{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
