{% extends "layout/layout.html" %}
{% set page_title = "Cyber Security Analysis" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="tekup-breadcrumb" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tekup-section-padding">
  <div class="container">
    <div class="tekup-pd-thumb">
      <img src="assets/images/p1/p_details.png" alt="">
    </div>
    <div class="tekup-pd-wrap">
      <div class="row">
        <div class="col-lg-8">
          <div class="tekup-pd-content-wrap">
            <div class="tekup-pd-content-item">
              <h3>Project overview</h3>
              <p>A content management system helps you create, manage, and publish content on the web. It also keep content organized and accessible so it can be used and repurposed effectively. There are various kinds of content management systems available—from cloud-based to a headless CMS—to meet every audience need.</p>
              <p>CMS provides user-friendly features for easy editing and is compatible with installing plugins and tools that provide even more features for advanced functions. API CMS’s are built to have an excellent user-friendly interface that is easy to use.</p>
            </div>
            <div class="tekup-pd-content-item">
              <h3>The challenge of project</h3>
              <p>A content management system (CMS) is an application that is used to manage content, allowing multiple contributors to create, edit and publish. Content in a CMS is typically stored in a database and displayed in a presentation layer based on a set of templates like a website.</p>
            </div>
            <div class="tekup-pd-content-item">
              <div class="row">
                <div class="col-lg-6">
                  <img src="assets/images/p2/p_1.png" alt="">
                </div>
                <div class="col-lg-6">
                  <img src="assets/images/p2/p_3.png" alt="">
                </div>
              </div>
            </div>
            <div class="tekup-pd-content-item">
              <p>CMS provides user-friendly features for easy editing and is compatible with installing plugins and tools that provide even more features for advanced functions. API CMS’s are built to have an excellent user-friendly interface that is easy to use.</p>
            </div>
            <div class="tekup-icon-list">
              <ul>
                <li><i class="ri-check-line"></i>Creating and editing content</li>
                <li><i class="ri-check-line"></i>Workflows, reporting, and content organization</li>
                <li><i class="ri-check-line"></i>User & role-based administration and security</li>
                <li><i class="ri-check-line"></i>Flexibility, scalability, and performance and analysis</li>
                <li><i class="ri-check-line"></i>Multilingual content capabilities</li>
              </ul>
            </div>
            <div class="tekup-pd-content-item">
              <h3>Final results</h3>
              <p>Having a content management system for your website allows you to have control of your content. It means having the ability to update, change or delete any images, text, video, or audio. It allows you to keep your site organized, up to date and looking.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="tekup-pd-sidebar">
            <div class="tekup-pd-sidebar-item">
              <h5>Project Details</h5>
              <span>Client:</span>
              <p>Porter Victoria</p>
            </div>
            <div class="tekup-pd-sidebar-item">
              <span>Web Development</span>
              <p>Category:</p>
            </div>
            <div class="tekup-pd-sidebar-item">
              <span>Date:</span>
              <p>20 January, 2023</p>
            </div>
            <div class="tekup-pd-sidebar-item">
              <span>Website Link::</span>
              <a href="mailto:name@email.com">example@gmail.com</a>
            </div>
            <div class="tekup-social-icon-box style-four">
              <ul>
                <li>
                  <a href="https://www.facebook.com/">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tekup-post-navigation border-bottom-0 pb-0">
      <a href="portfolio-01.html" class="nav-previous">
        <i class="ri-arrow-left-up-line"></i> Perv Project
        <h5>CMS Software Solution</h5>
      </a>
      <a href="portfolio-02.html" class="nav-next">
        NextProject <i class="ri-arrow-right-up-line"></i>
        <h5>Health App Development</h5>
      </a>
    </div>
  </div>
</div>



{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
