input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="search"],
input, textarea {
  margin: 0;
  width: 100%;
  height: 52px;
  font-weight: 400;
  color:var(--heading-color);
  font-size: 20px;
  border-radius: 50px;
  background-color: transparent;
  padding: 15px 0 !important;
  border: none!important;
  transition: all 0.4s;
  border: 1px solid #E7E7E8!important;
}
// input:focus, 
// textarea:focus{
//   border: 1px solid var(--accent-color)!important;
// }
textarea {
  height: 200px;
  resize: none;
  border-radius: 20px;
  @include max(767px) {
    height: 100px;
  }
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:    rgba(13, 14, 29, 0.6);
    opacity: 1;
}
input:-moz-placeholder, 
textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:    rgba(13, 14, 29, 0.6);
   opacity:  1;
}
input::-moz-placeholder, 
textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:    rgba(13, 14, 29, 0.6);
   opacity:  1;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:    rgba(13, 14, 29, 0.6);
   opacity: 1;
}
input::-ms-input-placeholder, 
textarea::-ms-input-placeholder{ /* Microsoft Edge */
   color:    rgba(13, 14, 29, 0.6);
   opacity: 1;
}

input::placeholder, 
textarea::placeholder{ /* Most modern browsers support this now. */
   color:    rgba(13, 14, 29, 0.6);
   opacity: 1;
}

// search header v1
.tekup-header-search-box {
   position: relative;
   input{
      font-size: 40px;
      border: none!important;
      border-radius: 0;
      height: 80px;
      border-bottom: 1px solid #E7E7E8!important;
      margin-bottom: 12px;
      &::placeholder{
         color: var(--heading-color);
      }
   }
   
}
button#header-search {
   position: absolute;
   top: 25px;
   right: 0;
}