.tekup-icon-list{
  ul{
    li{
      font-weight: 600;
      padding-left: 30px;
      position: relative;
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
      img{
        left: 0;
        top: 10px;
        position: absolute;
      }
    }
  }
}

.tekup-icon-list{
  &-item{
    gap: 16px;
    display: flex;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-icon{
    flex-shrink: 0;
  }
  &-data{
    h5{
      margin-bottom: 10px;
    }
  }
}