.tekup-icon-list{
  ul{
    li{
      font-weight: 600;
      padding-left: 30px;
      position: relative;
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
      i{
        left: 0;
        top: 0;
        position: absolute;
        color: var(--accent-color);
      }
    }
  }
}

.tekup-icon-list{
  &-item{
    gap: 16px;
    display: flex;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-icon{
    flex-shrink: 0;
  }
  &-data{
    h5{
      margin-bottom: 10px;
    }
  }
}
// End v2

.tekup-icon-list{
  &-wrap2{
    gap: 70px;
    display: flex;
    flex-wrap: wrap;
    @include max(1199px) {
      gap: 24px;
    }
  }
  &-item2{
    gap: 16px;
    display: flex;
    max-width: 210px;
    align-items: center;
  }
  &-icon2{
    width: 52px;
    flex-shrink: 0;
  }
  &-data2{
    p{
      font-weight: 600;
    }
  }
}
// End v5