
.tekup-portfolio-slider .slick-slide{
  margin: 0 12px;
}

.tekup-portfolio{
  &-section{
    z-index: 0;
    position: relative;
    &:before{
      content: "";
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 65%;
      position: absolute;
      background-color: var(--dark-bg);
    }
  }
  &-thumb{
    position: relative;
    &:before{
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      position: absolute;
      opacity: 0;
      background: linear-gradient(180deg, rgba(1, 25, 255, 0) 0%, #0119FF 100%);
    }
    &:hover .tekup-portfolio-data{
      opacity: 1;
      visibility: visible;
      bottom: 28px;
    }
    &:hover::before{
      opacity: 1;
    }
  }
  &-data{
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    left: 28px;
    padding: 20px 24px;
    width: calc(100% - 56px);
    position: absolute;
    transition: all 0.4s;
    background-color: var(--white-bg);
    h5{
      margin-bottom: 10px;
    }
    p{
      font-size: 20px;
      margin: 0;
      line-height: 20px;
    }
  }
  &-btn{
    top: 30px;
    right: 24px;
    position: absolute;
  }

}

// end v1

.tekup-portfolio{
  &-wrap2{
    margin-bottom: 24px;
  }
  &-data2{
    padding: 0;
    background-color: transparent;
    h5, p{
      color: var(--white-color);
    }
  }
  &-btn2{
    top: 0;
    right: 0;
  }
}

.tekup-center-btn {
  text-align: center;
  margin-top: 28px;
}

// End v2