.tekup-team{
  &-wrap{
    margin-bottom: 24px;
    &:hover .tekup-team-thumb::before{
      opacity: 1;
    }
    &:hover .tekup-social-icon-box.position{
      opacity: 1;
      bottom: 28px;
      visibility: visible;
    }
  }
  &-thumb{
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before{
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      position: absolute;
      opacity: 0;
      background: linear-gradient(180deg, rgba(1, 25, 255, 0) 23.74%, #0119FF 100%);
    }
  }
  &-data{
    padding-top: 20px;

    h5{
      margin-bottom: 5px;
    }
    p{
      font-size: 20px;
      line-height: 24px;
    }
  }
  &-data2{
    padding: 20px;
    background-color: var(--white-bg);
  }
}