<!-- Footer  -->

<footer class="tekup-footer-section dark-bg">
  <div class="container">
    <div class="tekup-footer-bottom">
        <div class="row">
          <div class="col-lg-6">
            <div class="tekup-footer-logo">
              <a href="">
                <img src="assets/images/logo/logo-white.svg" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tekup-copywright">
              <p> &copy; Copyright 2023, All Rights Reserved by Mthemeus</p>
            </div>
          </div>
        </div>
      
    </div>
      
  </div>
</footer>