<!-- Footer  -->



<footer class="tekup-footer-section tekup-section-padding-top">
  <div class="container">
    <div class="tekup-cta-content dark-color center mw-100">
      <h2>Let’s build something new</h2>
      <p>We are architects of innovation, trailblazers of advancement, and partners in your</p>
      <div class="tekup-extra-mt">
        <a class="tekup-default-btn" href="contact-us.html">Start a Project <i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
    <div class="tekup-footer-top tekup-section-padding">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="tekup-footer-textarea">
            <a href="index.html">
              <img src="assets/images/logo/logo-dark.svg" alt="">
            </a>
            <p>We are architects of innovation, trailblazers of advancement, and partners in your success. As a dynamic and forward</p>
            <div class="tekup-footer-info dark-color">
              <ul>
                <li><a href="tel:123"><i class="ri-phone-fill"></i>518-564-3200</a></li>
                <li><a href="mailto:name@email.com"><i class="ri-mail-fill"></i>mthemeus@example.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-md-4">
          <div class="tekup-footer-menu">
            <div class="tekup-footer-title">
              <h5>Quick Links</h5>
            </div>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="team.html">Our Team</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="tekup-footer-menu extar-margin">
            <div class="tekup-footer-title">
              <h5>Services</h5>
            </div>
            <ul>
              <li><a href="">UI/UX Design</a></li>
              <li><a href="">App Development</a></li>
              <li><a href="">Digital Marketing</a></li>
              <li><a href="">Web Development</a></li>
              <li><a href="">Cyber Security</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="tekup-footer-menu mb-0">
            <div class="tekup-footer-title">
              <h5>Information</h5>
            </div>
            <ul>
              <li><a href="">Working Process</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="faq.html">Faqs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tekup-footer-bottom dark">
        <div class="row">
          <div class="col-md-6">
            <div class="tekup-copywright">
              <p> &copy; 2024 MthemeUs. All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tekup-social-icon-box style-three right">
              <ul>
                <li>
                  <a href="https://www.facebook.com/">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</footer>