<!-- Footer  -->
<footer class="tekup-footer-section dark-bg">
  <div class="container">
    <div class="tekup-footer-top tekup-section-padding">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="tekup-footer-textarea light-color">
            <a href="index.html">
              <img src="assets/images/logo/logo-white.svg" alt="">
            </a>
            <p>We are architects of innovation, trailblazers of advancement, and partners in your success. As a dynamic and forward</p>
            <div class="tekup-footer-info">
              <ul>
                <li><a href=""><img src="assets/images/v1/call.png" alt="">518-564-3200</a></li>
                <li><a href=""><img src="assets/images/v1/email.png" alt="">tachup@example.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-md-4">
          <div class="tekup-footer-menu light-color">
            <div class="tekup-footer-title light-color">
              <h5>Quick Links</h5>
            </div>
            <ul>
              <li><a href="">About Us</a></li>
              <li><a href="">Our Team</a></li>
              <li><a href="">Pricing Plans</a></li>
              <li><a href="">Blogs</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="tekup-footer-menu light-color extar-margin">
            <div class="tekup-footer-title light-color">
              <h5>Services</h5>
            </div>
            <ul>
              <li><a href="">UI/UX Design</a></li>
              <li><a href="">App Development</a></li>
              <li><a href="">Digital Marketing</a></li>
              <li><a href="">Web Development</a></li>
              <li><a href="">Cyber Security</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="tekup-footer-menu light-color mb-0">
            <div class="tekup-footer-title light-color">
              <h5>Information</h5>
            </div>
            <ul>
              <li><a href="">Working Process</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Faqs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tekup-footer-bottom">
        <div class="row">
          <div class="col-md-6">
            <div class="tekup-copywright light-color right">
              <p> &copy; 2024 MthemeUs. All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tekup-social-icon-box style-two right">
              <ul>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="icon-instagram"></i>                     
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="icon-linkedin"></i>                     
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</footer>