<!-- Footer  -->

<footer class="tekup-footer-section5 bg-light6">
  <div class="container">
    <div class="tekup-footer-top5 tekup-section-padding">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="tekup-footer-textarea">
            <a href="">
              <img src="assets/images/logo/logo-dark.svg" alt="">
            </a>
            <p>We are a branding agency that digitally works to help companies grow. We have a successful track record of working with various organizations.</p>
            <div class="tekup-social-icon tekup-social-icon4">
              <ul>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="icon-instagram"></i>                     
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="icon-linkedin"></i>                     
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="tekup-footer-menu extar-margin">
            <div class="tekup-footer-title">
              <p>Special Links</p>
            </div>
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Our services</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Blogs</a></li>
              <li><a href="">Premium member</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="tekup-footer-menu">
            <div class="tekup-footer-title">
              <p>Utility pages</p>
            </div>
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Our services</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Blogs</a></li>
              <li><a href="">Premium member</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="tekup-footer-menu m-0">
            <div class="tekup-footer-title">
              <p>Contact us</p>
            </div>
            <div class="tekup-contact-info2 info3">
              <ul>
                <li>
                  <a href="">
                      <i class="icon-phone"></i>
                     +088-234-6849
                  </a>
                </li>
                <li>
                  <a href="">
                      <i class="icon-message"></i>
                      example@gmail.com
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="icon-map"></i>
                    Haward Street,10203 USA
                  </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tekup-footer-bottom five">
      <div class="tekup-copywright five text-center">
        <p> &copy; Copyright 2023, All Rights Reserved by Mthemeus</p>
      </div>
    </div>
  </div>
</footer>